<h2>Control Panel</h2>

<h3>Choose your product</h3>

<div [className]="'stackable'">
    <button
        *ngFor="let product of products$ | async"
        (click)="onProductSelected($event.target.id)"
        id="{{ product.id }}"
    >
        {{ product.price / 100 | currency: "GBP" }} {{ product.name }}
    </button>
</div>

<h3>Insert a coin</h3>

<ul>
    <li
        *ngFor="let denomination of denominations$ | async"
        (click)="onCoinInserted(denomination)"
    >
        {{ denomination / 100 | currency: "GBP" }}
    </li>
</ul>

<h3>Reload things</h3>
<div [className]="'stackable'">
    <button (click)="reloadProducts()">Reload Products</button>
    <button (click)="reloadCoins()">Reload Coins</button>
</div>
